<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FairTrade | About</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'login' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
        </nav>
    </header>
    <div>
        <h1>About Us</h1>
        <p>
            On FairTrade, visitors, as per their requirement, can register as lenders or borrowers. FairTrade undertakes
            a comprehensive verification process based on personal, financial and professional information provided of
            all its registered Borrowers and Lenders.
        </p>
        <p>
            An automated system suggests the loan period, loan amount and interest rate against each Borrower’s profile,
            which is indicative of the Borrower’s capability to efficiently repay the loan. Lenders
            can make offers to fund borrower’s requirement which are accepted on first come first serve basis. Both
            borrowers and lenders can strike deals with multiple members. Thus, lenders can fund a
            portion of the total loan requirement of multiple borrowers and borrowers can seek to raise money from
            multiple
            lenders.
        </p>
        <p>
            Once an agreement is reached between the borrower and the lender, a formal contract is signed by them. The
            loan amount is then transferred to the borrower’s account and the borrower makes periodic
            repayments via EMI over the stipulated time period.
        </p>
        <p>
            Repayment can be done through an online, automated process and tracked via their unique account on
            www.fairtrade.com. FairTrade provides a fair, transparent, technology-driven platform for the whole
            process to happen smoothly and quickly.
        </p>
    </div>
    <footer></footer>
</body>

</html>