<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FairTrade | About</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'login' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
        </nav>
    </header>
    <div>
        <h2>Email</h2>
        <h5>abc@gmail.com</h5>
        <h2>Phone</h2>
        <h5>9876543210</h5>
    </div>
    <footer></footer>
</body>

</html>